body {
  margin: 0;
}

#menu {
  background-color: #3B3B3B;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
a {
  color: white;
}

#menu a {
  font-size: 30px;
  margin-right: 20px;
}

.button {
  background-color: #3B3B3B;
  color: white;
  padding: 20px;
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  border: 1px solid white;

}

.pageHeading {
  font-size: 100px;
  margin: 0;
  padding-top: 200px;
  color: white;
  text-shadow: 0px 0px 10px black;

}

#hero {
  text-align: center;
  background-image: url("../img/filipiny.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* uživatelská část - blog post */

.blogPostPreview {
  width: 300px;
  border: 1px dotted lightslategray;
}

.blogPostPreview > img {
  width: 300px;
}

#blogPostList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.centeredContentWrapper {
  width: 1000px;
  margin: auto;
}

footer {
  margin-top: 50px;
  padding: 50px;
  background-color: #3b3b3b;
  display: flex;
  justify-content: space-around;
  color: white;

}

.footerHeading {
  font-size: 2em;
  font-weight: bold;
}

footer a {
  font-size: 16px;
}

.blogPostPreview:hover {
  background-color: lightslategray;
  transition: 1s;
}

.blogPostPreview {
  transition: 1s;
}
