#menu label, #menu input {
  display: none;
}

nav {
  display: flex;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger Icon */
  #menu label {
    position: absolute;
    right: 20px;
    display: inline-block;
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  nav a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  /* Toggle Show/Hide Menu */
  nav { display: none; }
  #menu input:checked ~ nav { display: block; margin-right: 100px }
}
