

@media only screen and  (max-width: 800px) {
  .centeredContentWrapper {
    width: 100%;
  }

  .pageHeading {
    font-size: 4em;
  }

  footer {
    flex-direction: column-reverse;
  }

  .blogPostPreview {
    width: 100%;
    border: 0;
  }

  .blogPostPreview img {
    width: 100%;
  }
}