:root {
  --gray: #2b2b2b;
  --white: #fafafa;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gentium Plus Compact";
  background: var(--white);
  height: 100%;
  font-size: 23px;
}

#sidebar {
  padding: 20px;
  color: var(--white);
  background-color: var(--gray);
}

#sidebar a {
  color: var(--white);
  margin: 10px;
  text-transform: capitalize;
}

#main {
  margin-left: 30px;
  margin-right: 30px;
}

button, input {
  padding: 10px;
  font-size: 23px;
  width: 200px;
  margin: 5px;
}

input:read-only {
  background-color: lightgrey;
}

input {
  width: 400px;
}

img {
  max-width: 100%;

}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

